aside {
    width: 360px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -360px;
    z-index: 90;
    transition: all 900ms ease-in-out;

    #burger {
        position: fixed;
        top: 1.35rem;
        left: 1rem;
        z-index: 10000;
        transition: all 0.5s ease;
        cursor: pointer;
        @include noselect;

        .bar {
            height: 5px;
            min-height: 5px;
            width: 45px;
            background-color: $primary-color;
            border-radius: 4px;
            transition: all 900ms ease;

            &.middle {
                margin: 10px 0;
            }
        }

        &:hover {
            cursor: pointer;

            .bar {
                background-color: $darker-aux-color;
            }
        }
    }

    &.open {
        left: 0;

        #burger {

            .up {
                transform: translateY(15px) rotateZ(45deg);
                background-color: white;
            }

            .middle {
                width: 0;
            }

            .down {
                transform: translateY(-15px) rotateZ(-45deg);
                background-color: white;
            }
        }

    }

    .side-head {
        text-align: center;
        height: 10rem;
        background-image: url('../../img/frontpage.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        > div {
            height: 10rem;
            padding: 1rem;
            background-color: rgba(132, 160, 180, 0.5);
            @include flex(column, flex-end, center);

            h1 {
                font-size: 1rem;
                margin-bottom: 0.5rem;
                font-family: $title-font;
                color: white;
                @include noselect;
            }
        }
    }

    .menu {
        height: calc(100vh - 10rem);
        overflow: auto;
        padding-bottom: 2.25rem;
        background-color: $primary-color;

        .item {
            transition: 600ms all ease-in-out;
            cursor: pointer;
            @include flex(row, space-between, stretch);

            .text-box {
                min-height: 3rem;
                width: calc(360px - 3rem);
                @include flex(row, flex-start, center);

                p {
                    padding: 0.5rem 1rem;
                    color: white;
                    font-family: $title-font;
                    margin-bottom: 0;
                    @include noselect;
                }
            }

            .icon-box {
                width: 3rem;
                @include flex(row, center, center);
                opacity: 0;
                transition: opacity 600ms ease-in-out;

                img {
                    @include noselect;
                }
            }


            &:hover {

                .icon-box {
                    opacity: 1;
                }

            }

        }

    }

    p.copyright {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 0.8rem;
        padding: 0.5rem 0;
        margin-bottom: 0;
        text-align: center;
        color: white;
        background-color: black;
    }

}
