header {
    width: 100%;
    height: 4.5rem;
    position: sticky;
    z-index: 50;
    top: 0;
    left: 0;
    padding: 0 1rem 0 4.5rem;
    background-color: white;
    box-shadow: $shadow;
    @include flex(row, space-between, center);

    h1 {
        font-size: 1.2rem;
        @include noselect;
    }

    img {
        height: 2.5rem;
        @include noselect;
    }
}

@media (max-width: $tablet-size) {
    header {
        @include flex(row, flex-end, center);
        h1 {
            display: none;
        }
    }
}

