@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
	-webkit-animation: fade-in 600ms ease-in-out;
	        animation: fade-in 600ms ease-in-out;
}

.fade-in-small-delayed {
    opacity: 0;
	-webkit-animation: fade-in 600ms 300ms ease-in-out forwards;
	        animation: fade-in 600ms 300ms ease-in-out forwards;
}

.fade-in-delayed {
    opacity: 0;
	-webkit-animation: fade-in 900ms 600ms ease-in-out forwards;
	        animation: fade-in 900ms 600ms ease-in-out forwards;
}

.fade-in-delayed-2 {
    opacity: 0;
	-webkit-animation: fade-in 900ms 1200ms ease-in-out forwards;
	        animation: fade-in 900ms 1200ms ease-in-out forwards;
}

.fade-in-delayed-3 {
    opacity: 0;
	-webkit-animation: fade-in 900ms 1800ms ease-in-out forwards;
	        animation: fade-in 900ms 1800ms ease-in-out forwards;
}