// Colors palette

$primary-color: #84a0b4;
$light-primary-color: #9dbfd8;
$darker-primary-color: #515F69;
$secondary-color: #fede82;
$tertiary-color: #96ccaa;
$aux-color: #8f8f8f;
$darker-aux-color: #5a5a5a;

$success-color: #155724;
$danger-color: #721c24;

// Fonts

$regular-font-color: #242424;
$darker-font-color: rgb(0, 0, 0);
$title-bold-font: "MontserratBold", Arial, sans-serif;
$title-font:  "Montserrat", Arial, sans-serif;
$text-bold-font: "SourceSansProBold", Arial, sans-serif;
$text-font: "SourceSansPro", Arial, sans-serif;

// Sizing

$pc-size: 1440px;
$laptop-size: 960px;
$tablet-size: 720px;
$mobile-size: 540px;

// Shadows

$bottom-shadow: 2px 2px 4px rgb(211, 211, 211);
// $shadow: 0 5px 10px rgba(0, 0, 0, 0.10);
$shadow: 9px 8px 10px rgba(0,0,0,0.06);
