@font-face {
    font-family: "MontserratBold";
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: "SourceSansProBold";
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}
@font-face {
    font-family: "SourceSansPro";
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

